<div class="email">
  <img class="email__image" src="https://image.ibb.co/caBmBF/lion.png">
  <h1>Getting To Know You</h1>
  <hr class="email__line">
  <p class="email__para">Name:</p>
  <h2 class="email__subtitle">{{ format-values name }}</h3>
  <p class="email__para">Age:</p>
  <h2 class="email__subtitle">{{ age }}</h3>
  <p class="email__para">Friends:</p>
  <h2 class="email__subtitle">{{ format-values Friends }}</h3>
  <p class="email__para">Friends likes:</p>
  <h2 class="email__subtitle">{{ format-values friends__like }}</h3>
  <p class="email__para">Friends dislikes:</p>
  <h2 class="email__subtitle">{{ format-values friends__dislike }}</h3>
  <p class="email__para">School:</p>
  <h2 class="email__subtitle">{{ format-values School }}</h3>
  <p class="email__para">School likes:</p>
  <h2 class="email__subtitle">{{ format-values school__like }}</h3>
  <p class="email__para">School dislikes:</p>
  <h2 class="email__subtitle">{{ format-values school__dislike }}</h3>
  <p class="email__para">Sleep:</p>
  <h2 class="email__subtitle">{{ format-values Sleep }}</h3>
  <p class="email__para">Personality:</p>
  <h2 class="email__subtitle">{{ format-array 'personality'}}</h3>
  <p class="email__para">Hobbies:</p>
  <h2 class="email__subtitle">{{ format-array 'hobbies' }}</h3>
  <p class="email__para">Feelings:</p>
  <h2 class="email__subtitle">{{ format-values feelings }}</h3>
</div>
