<div style="background: #60ADD6; margin: 15px; padding: 30px; text-align: center">
  <img style="width:220px; height:auto; margin: 0 auto" src="https://image.ibb.co/caBmBF/lion.png">
  <h1>Getting To Know You</h1>
  <hr style="width: 50%; border: 1px solid #FCF74C; margin-bottom: 23px">
  <p style="margin: 0">Name:</p>
  <h2 style="margin: 0 0 23px 0">{{ format-values name }}</h2>
  <p style="margin: 0">Age:</p>
  <h2 style="margin: 0 0 23px 0">{{ format-values age 'age'}}</h2>
  <p style="margin: 0">Friends:</p>
  <h2 style="margin: 0 0 23px 0">{{ format-values friends }}</h2>
  <p style="margin: 0">Friends likes:</p>
  <h2 style="margin: 0 0 23px 0">{{ format-values friends__like }}</h2>
  <p style="margin: 0">Friends dislikes:</p>
  <h2 style="margin: 0 0 23px 0">{{ format-values friends__dislike }}</h2>
  <p style="margin: 0">School:</p>
  <h2 style="margin: 0 0 23px 0">{{ format-values school }}</h2>
  <p style="margin: 0">School likes:</p>
  <h2 style="margin: 0 0 23px 0">{{ format-values school__like }}</h2>
  <p style="margin: 0">School dislikes:</p>
  <h2 style="margin: 0 0 23px 0">{{ format-values school__dislike }}</h2>
  <p style="margin: 0">Sleep:</p>
  <h2 style="margin: 0 0 23px 0">{{ format-values Sleep }}</h2>
  <p style="margin: 0">Personality:</p>
  <h2 style="margin: 0 0 23px 0">{{ format-array 'personality'}}</h2>
  <p style="margin: 0">Hobbies:</p>
  <h2 style="margin: 0 0 23px 0">{{ format-array 'hobbies' }}</h2>
  <p style="margin: 0">Feelings:</p>
  <h2 style="margin: 0 0 23px 0">{{ format-values feelings }}</h2>
</div>
