<div class="buttons">
  {{#if isWelcome }}
    <a class="button button--next" href="{{ next }}">Next</a>
  {{else if isEnd }}
    <a class="button button--prev" href="{{ prev }}">Prev</a>
    <a href="{{ next }}">
      <img class="finish__info-icon" src="assets/info-icon-black.svg" alt="More information icon">
    </a>
  {{else if isInfo }}
    <a class="button button--prev" href="{{ prev }}">Prev</a>
  {{else}}
    <a class="button button--prev" href="{{ prev }}">Prev</a>
    <a class="button button--next" href="{{ next }}">Next</a>
  {{/if}}
</div>
